<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
    <style>
     
    </style>
</head>
<body>
<h3>All Listings</h3>
  <form action="/listings/new" method="get">
    <button>Create New Listings</button>
  </form>
    <div class="container">
        <div class="header"></div>
         <%for(let list of data){%>
         <div class="list">
            <h3><a href="/view/<%=list.id%>"><%=list.title%></a></h3>
         </div>
         
         <%}%>
    </div>
</body>
</html>