<% layout('/layouts/boilerPlate') -%>
<body>
<h3>All Listings</h3>
  <!-- <form action="/listings/new" method="GET">
    <button>Create New Listings</button>
  </form> -->
    <div class="container">
        <div class="header"></div>
         <%for(let list of data){%>
         <div class="list">
            <h3><a href="/listings/<%=list._id%>"><%=list.title%></a></h3>
         </div>
         
         <%}%>
    </div>
</body>
