<% layout('/layouts/boilerPlate') -%>
  <body>
    <br><br>
    <!-- <h3 >Create a New Listing</h3> -->
  
    <div class="row">
      <div class="col-8 offset-2">
          <form method="POST" action="/listings">
      <div class="mb-3">
  <label for="title" class="form-label">Title</label>
        <input required name="listings[title]" id="title" class="form-control" placeholder="enter title" type="text" />
     </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
             <textarea name="listings[description]" class="form-control" id="description" placeholder="Description.."
      ></textarea>
        </div>
       <div class="mb-3">
        <label for="image" class="form-label">Image Link / URL</label>
              <input
        name="listings[image]" id="image" class="form-control"
        placeholder="enter image URL/Link"
        type="text"
      />
       </div>
           <div class="mb-3">
            <label for="price" class="form-label" >price</label>
                 <input name="listings[price]" class="form-control" id="price" placeholder="10000" type="number" />
           </div>
       <div class="mb-3">
        <label for="country" class="form-label">Country</label>
          <input id="country" name="listings[country]" class="form-control" placeholder="enter country" type="text" />
       </div>
           <div class="mb-3">
             <label for="location" class="form-label">Location</label>
     <input
     id="location" class="form-control"
        name="listings[location]"
        placeholder="enter location"
        type="text"
      />
           </div>
 
      <button>Add</button>
    </form>
      </div>
    </div>
  </body>
